footer.footer 
  .wrapper 
    .footer_head 
      .footer_head_content 
        .footer_head_content_logo 
          .footer_head_content_logo_img.logo 
            img(src="./assets/images/logo_circle.svg") 
            img(src="./assets/images/logo_oval.svg")
          span.footer_head_content_logo_text DataWarehouse
        address.footer_head_content_street Warehouse Society, 234<br>Bahagia Ave Street PRBW 29281
        address.footer_head_content_contact info@warehouse.project<br>1-232-3434 (Main)
      .footer_head_lists 
        .footer_head_lists_about 
          h3.footer_head_lists_about_title About 
          ul.footer_head_lists_about_list 
            each val in ['Profile', 'Features', 'Careers', 'DW News']
              li.footer_head_lists_about_list_item 
                a.footer_head_lists_about_list_item_link= val  
        .footer_head_lists_help 
          h3.footer_head_lists_help_title Help 
          ul.footer_head_lists_help_list 
            each val in ['Support', 'Sign up', 'Guide', 'Reports', 'Q&A']
              li.footer_head_lists_help_list_item 
                a.footer_head_lists_help_list_item_link= val  
        .footer_head_lists_media 
          h3.footer_head_lists_media_title Social Media
          ul.footer_head_lists_media_list 
            each val in ['facebook', 'twitter', 'instagram']
              li.footer_head_lists_media_list_item
                img.footer_head_lists_media_list_item_img(src='./assets/images/' + val + '.svg')
    .footer_foot 
      span.footer_foot_copyright © Datawarehouse™, 2020. All rights reserved.<br>Company Registration Number: 21479524.
      button.footer_foot_chat 

