header.header
  .wrapper
    .header_logo.logo
      img(src="./assets/images/logo_circle.svg") 
      img(src="./assets/images/logo_oval.svg")
    nav.header_nav
      ul.header_nav_list 
        each val in ['About','Help','Features','Signup']
          li.header_nav_list_item
            a.header_nav_list_item_link(href='#' + val.toLowerCase())=val 
    button.header_button.request-demo_button Request Demo  
