html
  head
    title Main
    link(rel="stylesheet" href="/css/main.min.css?cache_bust=123")
  body
    .main_wrapper
      include templates/header.pug
      main 
        .hero 
          .wrapper
            .hero_content 
              h1.hero_content_title Save your data storage here. 
              p.hero_content_text Data Warehouse is a data storage area that has been tested for security, so you can store your data here safely but not be afraid of being stolen by others.
              button.hero_content_button.learn-more_button Learn more
        .about#about 
          .wrapper 
            .about_content 
              h2.about_content_title We are a high-level data storage bank
              p.about_content_text The place to store various data that you can access at any <br>time through the internet  and where you can carry it.<br>This very flexible storage area has a high level of security.<br> To enter into your own data you must enter the password<br> that you created when you registered in this Data<br> Warehouse. 
        .features#features 
          .wrapper 
            h2.features_title Features 
            p.features_text Some of the features and advantages that we provide for those of you who store data in this Data Warehouse.
            .features_content 
              .features_content_block 
                .features_content_block_container
                  h3.features_content_block_title Search Data
                  p.features_content_block_text Don’t worry if your data is very<br> large, the Data Warehoue<br> provides a search engine,<br> which is useful for making it<br> easier to find data effectively saving time.
                  button.features_content_block_button Learn more
              .features_content_block 
                .features_content_block_container
                  h3.features_content_block_title 24 Hours Access
                  p.features_content_block_text Access is given 24 hours a full<br> morning to night and meet<br> again in the morning, giving<br> you comfort when you need<br> data when urgent.
                  button.features_content_block_button Learn more
              .features_content_block 
                .features_content_block_container
                  h3.features_content_block_title Print Out
                  p.features_content_block_text Print out service gives you<br> convenience if someday you<br> need print data, just edit it all<br> and just print it.
                  button.features_content_block_button Learn more
              .features_content_block 
                .features_content_block_container
                  h3.features_content_block_title Security Code
                  p.features_content_block_text Data Security is one of our<br> best facilities. Allows for your<br> files to be safer. The file can<br> be secured with a code or<br> password that  you created,<br> so only you can open the file.
                  button.features_content_block_button Learn more 
        .testimonial
          .wrapper
            h2.testimonial_title Testimonials
            .testimonial_swiper.swiper
              .testimonial_swiper-wrapper.swiper-wrapper
                .testimonial_swiper-slide.swiper-slide
                  .testimonial_swiper-slide-container.john
                    h3.testimonial_swiper-slide_title John Fang 
                    span.testimonial_swiper-slide_workspace wordfaang.com
                    p.testimonial_swiper-slide_text Suspendisse ultrices at diam lectus nullam.<br> Nisl, sagittis viverra enim erat tortor ultricies<br> massa turpis. Arcu pulvinar aenean nam laoreet nulla.
                .testimonial_swiper-slide.swiper-slide
                  .testimonial_swiper-slide-container.jeny 
                    h3.testimonial_swiper-slide_title Jeny Doe 
                    span.testimonial_swiper-slide_workspace UX Engineer
                    p.testimonial_swiper-slide_text Suspendisse ultrices at diam lectus nullam.<br> Nisl, sagittis viverra enim erat tortor ultricies<br> massa turpis. Arcu pulvinar aenean nam laoreet nulla.
                .testimonial_swiper-slide.swiper-slide
                  .testimonial_swiper-slide-container.william 
                    h3.testimonial_swiper-slide_title William 
                    span.testimonial_swiper-slide_workspace Web Designer
                    p.testimonial_swiper-slide_text Suspendisse ultrices at diam lectus nullam.<br> Nisl, sagittis viverra enim erat tortor ultricies<br> massa turpis. Arcu pulvinar aenean nam laoreet nulla.
            .testimonial_actions 
              .testimonial_actions_pagination.swiper-pagination 
                button.testimonial_actions_pagination_btn
                button.testimonial_actions_pagination_btn 
                button.testimonial_actions_pagination_btn 
              .testimonial_actions_buttons
                button.testimonial_actions_buttons_prev.swiper-button-prev 
                button.testimonial_actions_buttons_next.swiper-button-next  
        .try 
          .wrapper
            .try_content 
              h2.try_content_title Try for free!
              p.try_content_text Get limited 1 week free try our features!
            .try_actions 
              button.try_actions_learn-more.learn-more_button Learn more
              button.try_actions_request-demo.request-demo_button Request Demo
        include templates/footer.pug
    script(src='/js/main.min.js?cache_bust=123')