@import "reset.css/reset";
@import "./variables.scss";

* {
    box-sizing: border-box;
}

body {
    background: #E5E5E5;
}

.wrapper {
    max-width: 1120px;
    width: 100%;
    margin: auto;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 49px;
    width: 100%;
}

.header {
    line-height: 26px;
    font-size: 16px;
    padding-top: 50px;
    min-height: 60px;

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &_nav {
        max-width: 322px;
        width: 100%;
        margin-right: 330px;

        &_list {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-between;

            &_item {
                &_link {
                    color: $gray;
                    text-decoration: none;
                }

                &_link:hover {
                    color: $darkblue;
                    font-weight: 600;
                }
            }
        }
    }

}

.request-demo_button {
    background: #FFFFFF;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    border-radius: 50px;
    border: none;
    padding: 23px 80px 22px 41px;
    color: $darkblue;
    letter-spacing: 0.005em;
    position: relative;
    cursor: pointer;
    font-weight: 600;
}

.request-demo_button::after {
    content: '';
    background-image: url(../assets/images/small_arrow.svg);
    width: 22px;
    height: 16px;
    position: absolute;
    right: 27px;
    top: 50%;
    transform: translateY(-50%);
}

.hero {
    min-height: 624px;

    .wrapper {
        padding-top: 130px;
        padding-bottom: 100px;
        max-width: 1300px;
        padding-left: 88px;
        background-image: url(../assets/images/hero_bg.png);
        background-repeat: no-repeat;
        background-position: bottom right;
    }

    &_content {
        max-width: 645px;
        width: 100%;
        min-height: 464px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        &_title {
            font-weight: 700;
            font-size: 80px;
            color: $darkblue;
            line-height: 88px;
        }

        &_text {
            font-size: 18px;
            line-height: 29px;
            color: $gray;
            font-weight: 500;
            max-width: 330px;
            width: 100%;
        }

        &_button {
            background-color: $purple;
        }
    }
}

.learn-more_button {
    color: #FFFFFF;
    padding: 17px 39px 16px 39px;
    border-radius: 50px;
    border: none;
    font-size: 18px;
    line-height: 160%;
    cursor: pointer;
}

.about {
    padding-top: 100px;

    .wrapper {
        display: flex;
        border-radius: 50px;
        align-items: center;
        justify-content: flex-end;
        min-height: 560px;
        background-color: rgba(253, 232, 244, 0.4);
        padding-right: 92px;
        background-image: url(../assets/images/about_bg.png);
        background-repeat: no-repeat;
        background-position: center left;
    }

    &_content {
        max-width: 470px;
        width: 100%;
        height: 310px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &_title {
            font-weight: 700;
            font-size: 40px;
            line-height: 52px;
            color: $darkblue;

        }

        &_text {
            font-weight: 500;
            font-size: 18px;
            line-height: 29px;
            color: $gray;
        }
    }
}

.features {
    padding: 150px 0;

    &_title {
        font-weight: 700;
        font-size: 40px;
        line-height: 52px;
        color: $darkblue;
        margin: 0 auto 50px;
        max-width: 405px;
        width: 100%;
        text-align: center;
    }

    &_text {
        font-weight: 500;
        font-size: 18px;
        line-height: 29px;
        text-align: center;
        color: $gray;
        max-width: 530px;
        width: 100%;
        margin: 0 auto 100px;
    }

    &_content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-between;

        &_block {
            max-width: 550px;
            width: 100%;
            min-height: 388px;
            display: flex;
            justify-content: flex-end;
            padding: 0 50px 33px 0;
            align-items: flex-end;
            position: relative;

            &_container {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                max-width: 220px;
                width: 100%;
                min-height: 276px;
            }

            &_title {
                font-size: 24px;
                line-height: 31px;
                color: $darkblue
            }

            &_text {
                font-size: 16px;
                line-height: 26px;
                color: $gray;
            }

            &_button {
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
                letter-spacing: 0.005em;
                color: $darkblue;
                border: none;
                background: none;
                cursor: pointer;
                padding: 0;
                text-align: left;
                max-width: 127px;
                position: relative;
            }

            &_button::after {
                content: '';
                background-image: url(../assets/images/small_arrow.svg);
                width: 22px;
                height: 16px;
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        &_block::before {
            background-repeat: no-repeat;
            background-position: left 100px;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }

        &_block:nth-child(1)::before {
            content: url(../assets/images/search_data_bg.png);
        }

        &_block:nth-child(2)::before {
            content: url(../assets/images/hours_access_bg.png);
        }

        &_block:nth-child(3)::before {
            content: url(../assets/images/print_out_bg.png);
        }

        &_block:nth-child(4)::before {
            content: url(../assets/images/security_code_bg.png);
        }
    }
}

.testimonial {
    padding-bottom: 150px;

    .wrapper {
        background-color: $purple;
        border-radius: 50px;
        min-height: 709px;
        padding: 109px 80px 60px 93px;
    }

    &_title {
        font-weight: 700;
        font-size: 40px;
        line-height: 52px;
        color: #FFFFFF;
        margin-bottom: 88px;
    }

    &_swiper {
        max-width: 665px;
        width: 100%;
        border-radius: 20px;
        overflow: hidden;
        margin-bottom: 60px;

        &-wrapper {
            display: flex;
        }

        &-slide {
            flex-grow: 0;
            flex-shrink: 0;
            max-width: 645px;
            width: 100%;
            min-height: 330px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #FFFFFF;
            box-shadow: 0px 20px 0px rgba(156, 105, 226, 0.3);
            border-radius: 20px;
            margin-right: 20px;

            &-container {
                max-width: 505px;
                width: 100%;
                min-height: 220px;
                padding: 10px 0 0 120px;
                position: relative;
            }

            &-container::before {
                position: absolute;
                top: 0;
                left: 0;
                width: 90px;
                height: 90px;
            }

            .john::before {
                content: url(../assets/images/john_fang.png);
            }

            .jeny::before {
                content: url(../assets/images/jeny_doe.png);
            }

            .william::before {
                content: url(../assets/images/william.png);
            }

            &_title {
                font-size: 18px;
                line-height: 29px;
                letter-spacing: 0.005em;
                color: $darkblue;
            }

            &_workspace {
                font-weight: 500;
                font-size: 14px;
                line-height: 22px;
                letter-spacing: 0.01em;
                color: $purple;
                margin-bottom: 19px;
                display: block;
            }

            &_text {
                font-weight: 400;
                font-size: 18px;
                line-height: 32px;
                color: $gray;
                font-style: Roman
            }
        }

    }

    &_actions {
        display: flex;
        justify-content: space-between;

        &_pagination {
            max-width: 40px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .swiper-pagination-bullet {
                display: block;
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background-color: #fff;
                cursor: pointer;

                &-active {
                    width: 10px;
                    height: 10px;
                    background: #F063B8;
                }
            }
        }

        &_buttons {
            max-width: 96px;
            width: 100%;
            display: flex;
            justify-content: space-between;

            &_prev {
                max-width: 42px;
                width: 100%;
                background: none;
                background-image: url(../assets/images/big-white_arrow.svg);
                height: 16px;
                border: none;
                cursor: pointer;
            }

            &_next {
                background: none;
                border: none;
                cursor: pointer;
                background-image: url(../assets/images/small-white_arrow.svg);
                max-width: 22px;
                width: 100%;
                height: 16px;
            }
        }
    }
}

.try {
    border-top: 2px solid rgba($color: $purple, $alpha: 0.1);
    padding: 100px 0 150px 0;

    .wrapper {
        padding: 100px 0 150px 0;
        min-height: 101px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &_content {
        max-width: 584px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 101px;

        &_title {
            font-weight: 700;
            font-size: 40px;
            line-height: 52px;
            color: $darkblue;
        }

        &_text {
            font-weight: 500;
            font-size: 18px;
            line-height: 29px;
            color: $gray;
        }
    }

    &_actions {
        max-width: 410px;
        width: 100%;
        display: flex;
        justify-content: space-between;

        &_learn-more {
            background-color: $pink;
        }
    }
}

.footer {
    padding-bottom: 100px;
    .wrapper {
        min-height: 408px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    &_head {
        display: flex;
        justify-content: space-between;

        &_content {
            &_logo {
                max-width: 222px;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 65px;

                &_text {
                    font-weight: 600;
                    font-size: 22px;
                    line-height: 34px;
                    color: $darkblue;
                }
            }

            &_street {
                font-weight: 500;
                font-size: 16px;
                line-height: 29px;
                letter-spacing: 0.01em;
                color: $darkblue;
                margin-bottom: 10px;
            }

            &_contact {
                font-weight: 400;
                font-size: 16px;
                line-height: 29px;
                letter-spacing: 0.01em;
                color: $darkblue;
            }
        }

        &_lists {
            max-width: 645px;
            width: 100%;
            display: flex;
            justify-content: space-between;

            h3 {
                font-weight: 700;
                font-size: 16px;
                line-height: 26px;
                color: $darkblue;
                margin-bottom: 30px;
            }

            a {
                font-weight: 400;
                font-size: 16px;
                line-height: 30px;
                color: $darkblue;
                cursor: pointer;
            }

            &_about {
                max-width: 166px;
                width: 100%;

                &_list {
                    min-height: 160px;
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;

                }
            }

            &_help {
                max-width: 166px;
                width: 100%;

                &_list {
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                    min-height: 190px;
                }
            }

            &_media {
                max-width: 178px;
                width: 100%;

                &_list {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;

                    &_item {
                        cursor: pointer;
                    }
                }
            }
        }
    }

    &_foot {
        min-height: 50px;
        align-items: center;
        display: flex;
        justify-content: space-between;

        &_copyright {
            font-weight: 400;
            font-size: 12px;
            line-height: 22px;
            letter-spacing: 0.01em;
            color: $darkblue;
        }

        &_chat {
            background: rgba($color: $purple, $alpha: 0.2);
            border: none;
            border-radius: 50%;
            width: 60px;
            height: 60px;
            background-image: url(../assets/images/chat.svg);
            background-repeat: no-repeat;
            background-position: center;
            cursor: pointer;
        }
    }
}